<h1>Articles list</h1>

<% @articles.each do |article| %>
<p><%= article.id %>&nbsp;
<%= article.title %>&nbsp;
<%= article.text %></p>
<% end %>
<p>
<%= link_to 'New article', new_article_path %>
</p>
